<%= form_for @arch_object, :url => arch_objects_path, :html => { :multipart => true } do |f| %>
  <% if @arch_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arch_object.errors.count, "error") %> prohibited this arch_object from being saved:</h2>

      <ul>
      <% @arch_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :foundation %><br>
    <%= f.date_select :foundation %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, ArchObject::STATUS_TYPES %>
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
