<h1>Listing arch_objects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Avatar</th>
      <th>Foundation</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arch_objects.each do |arch_object| %>
      <tr>
        <td><%= arch_object.name %></td>
        <td><%= arch_object.avatar %></td>
        <td><%= arch_object.foundation %></td>
        <td><%= arch_object.status %></td>
        <td><%= link_to 'Show', arch_object %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Архитекторы', architects_url%>
