<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @arch_object.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @arch_object.avatar %>
</p>

<p>
  <strong>Foundation:</strong>
  <%= @arch_object.foundation %>
</p>

<p>
  <strong>Status:</strong>
  <%= @arch_object.status %>
</p>
<p>Статьи</p>
<% @arch_object.articles.each do |article| %>
    <%=link_to article.title, article%>
    <br>
    <%end%>
<p>-----------------</p>
<p>Архитекторы</p>
<% @arch_object.architects.each do |architect| %>
    <%=link_to architect.get_name, architect%>
    <br>
    <%end%>
<p>-----------------</p>
<p>Стили</p>
<% @arch_object.styles.each do |style| %>
    <%=style.name%>
    <br>
    <%end%>
<p>-----------------</p>
<p>Тип</p>
<% @arch_object.types.each do |type| %>
    <%=type.name%>
    <br>
    <%end%>
<p>-----------------</p>
<%= link_to 'Edit', edit_arch_object_path(@arch_object) %> |
<%= link_to 'Back', arch_objects_path %>
<%= link_to 'new article', new_article_url(:arch_object_id => @arch_object.id)%>