<h1>Listing architects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Familyname</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @architects.each do |architect| %>
      <tr>
        <td><%= architect.name %></td>
        <td><%= architect.surname %></td>
        <td><%= architect.familyname %></td>
        <td><%= architect.avatar %></td>
        <td><%= link_to 'Show', architect %></td>
        <td><%= link_to 'Edit', edit_architect_path(architect) %></td>
        <td><%= link_to 'Destroy', architect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Architect', new_architect_path %>
