<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @architect.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @architect.surname %>
</p>

<p>
  <strong>Familyname:</strong>
  <%= @architect.familyname %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @architect.avatar.url(:medium) %>
</p>

<%= link_to 'Edit', edit_architect_path(@architect) %> |
<%= link_to 'Back', architects_path %>
