<%= form_for(@foot_obj) do |f| %>
  <% if @foot_obj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foot_obj.errors.count, "error") %> prohibited this foot_obj from being saved:</h2>

      <ul>
      <% @foot_obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :enable %><br>
    <%= f.check_box :enable %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
